.event_style {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.event_row {
  width: 80%;
  border: 3px dashed rgba(1, 9, 109, 0.514);
  margin: 10px 0;
  padding: 10px;
}
